<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>

    <style> 
        .mystyle{
            padding: auto;
            margin-bottom: 20px;
            background-color: aquamarine;
            text-align: center;
            border: 5px double rgb(247, 0, 255);
            border-radius: 50px 10%;

        }
        body{
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="mystyle">
        {% include 'messages.html' %}
        {% block content %} {% endblock %}
        {% block x %} {% endblock %}  
    </div>
</body>
</html>